<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

 	<dubbo:application name="afd_service"/> 	
 	<dubbo:consumer timeout="3000" check="false" retries="0"/> 	
 	
 	<!-- sms service -->  
 	<dubbo:reference id="dubbo_smsService" interface="com.afd.service.sms.ISmsService" mock="com.afd.service.sms.SmsServiceMock"/>
 	
 	<!-- order service -->   
 	<dubbo:reference id="dubbo_orderService" interface="com.afd.service.order.IOrderService" />
 	<dubbo:reference id="dubbo_cartService" interface="com.afd.service.order.ICartService" />
 	<dubbo:reference id="dubbo_userService" interface="com.afd.service.user.IUserService" />
 	<dubbo:reference id="dubbo_geoService" interface="com.afd.service.user.IGeoService" />
 	<dubbo:reference id="dubbo_addressService" interface="com.afd.service.user.IAddressService" />
 	<dubbo:reference id="dubbo_retOrderService" interface="com.afd.service.order.IRetOrderService" />
 	
 	<!-- user service --> 
 	<dubbo:reference id="dubbo_categoryService" interface="com.afd.service.product.ICategoryService" />
 	<dubbo:reference id="dubbo_attributeService" interface="com.afd.service.product.IAttributeService" />
 	<dubbo:reference id="dubbo_brandService" interface="com.afd.service.product.IBrandService" />
 	<dubbo:reference id="dubbo_specService" interface="com.afd.service.product.ISpecService" />
    <dubbo:reference id="dubbo_paymentServices" interface="com.afd.service.payment.IPaymentServices" />
   	
   	<!-- product service --> 
   	<dubbo:reference id="dubbo_productService" interface="com.afd.service.product.IProductService" />
   	<dubbo:reference id="dubbo_brandShowService" interface="com.afd.service.product.IBrandShowService" />
   	<dubbo:reference id="dubbo_sellerBrandService" interface="com.afd.service.product.ISellerBrandService" />
   	
   	<!-- seller service --> 
   	<dubbo:reference id="dubbo_sellerLoginService" interface="com.afd.service.seller.ISellerLoginService" />
   	<dubbo:reference id="dubbo_sellerService" interface="com.afd.service.seller.ISellerService" />
   	<dubbo:reference id="dubbo_sellerApplyService" interface="com.afd.service.seller.ISellerApplyService" />
   	
   	<beans profile="develop">
	    <dubbo:registry protocol="zookeeper" port="2181" address="192.168.1.19" />
   	</beans>
</beans>
